services:
  speedtest-tracker:
      image: lscr.io/linuxserver/speedtest-tracker:latest
      container_name: speedtest-tracker
      environment:
        - PUID={{ puid }}
        - PGID={{ pgid }}
        - TZ={{ timezone }}
        - DB_CONNECTION=sqlite
      volumes:
        - {{ volume_path }}/config/speedtest-tracker:/config
      ports:
        - 8765:80
      networks:
        - traefik-network
      restart: unless-stopped
      labels:
        - traefik.enable=true
        - traefik.http.routers.speedtest-tracker.rule=Host(`{{ speedtest_sub_domain }}.{{ server_domain }}`)
        - traefik.http.routers.speedtest-tracker.entrypoints=websecure
        - traefik.http.services.speedtest-tracker.loadbalancer.server.port=80
        - homepage.group=Infrastructure
        - homepage.name=Speedtest tracker
        - homepage.icon=speedtest-tracker
        - homepage.href={{ url_scheme }}://{{ speedtest_sub_domain }}.{{ server_domain }}
        - homepage.description=Internet performance tracking
        - homepage.widget.type=speedtest
        - homepage.widget.url={{ url_scheme }}://{{ speedtest_sub_domain }}.{{ server_domain }}
        - homepage.widget.fields=["download", "upload", "ping"]
      security_opt:
        - no-new-privileges:true

networks:
  traefik-network:
    external: true
