[DEFAULT]
ignoreip = 127.0.0.1/8 ::1 {{ host_lan_cidr }}  # Whitelist localhost and LAN IP range
bantime  = 600                             # Ban for 10 minutes
findtime = 600                             # Time window to count failures (10 min)
maxretry = 5                               # Ban after 5 failed attempts

[sshd]
enabled = true
filter = sshd
logpath = /var/log/auth.log

